extends layout

block content
  h1= title
  p Welcome to #{title}
  p(id="message") #{message}
  p(id="status") #{status}
  form(action="/konek" method="POST")
    input(type="text" name="isi")
    input(type="submit" value="Submit")
  
  p(id="isiform") #{isiform}