extends layout

block content
  h1= title
  p Welcome to #{title}
  p(id="message") #{message}
  p(id="status") #{status}
  
  p(id="isiform") #{isiform}
  br
  h2 Images Uploaded
  p(id="list")
  - gambar.forEach(function(dat){
      img(src="/capturedphotos/"+dat.gambar)
  - }) 