extends layout

block content
  h1= title
  p Welcome to #{title}
  p(id="message") #{message}
  p(id="status") #{status}
  form(action="/post" method="POST" enctype="multipart/form-data")
    input(type="file" name="file")
    input(type="submit" value="Upload File")
  
  p(id="isiform") #{isiform}
  br
  h2 Images Uploaded
  p(id="list")
  - ga.forEach(function(dat){
      img(src="/capturedphotos/"+dat.gambar)
  - }) 