extends layout

block content
  h1= title
  p Welcome to #{title}
  p(id="message") #{message}
  p(id="status") #{status}
  form(action="/post" method="POST" enctype="multipart/form-data")
    input(type="file" name="file")
    input(type="submit" value="Upload File")

  p= infor

  //button(onclick="startConnect()") Connect
  //button(onclick="connectMqtt()") Connect

  //script(src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.2/mqttws31.min.js" type="text/javascript")
  //script(src='/js/pahoMqtt.js' type="text/javascript")
