extends layout

block content
  style(type="text/css").
    table, th, td {
      border: 2px black solid;
    }

  h1= title
  p Welcome to #{title}
  p(id="message") #{message}
  p(id="status") #{status}
  
  p(id="isiform") #{isiform}
  br
  h2 Images Uploaded
  
  table
    thead
      tr
        th Tanggal
        th Gambar
    tbody
      - gambar.forEach(function(dat){
      tr
        td 
          p= dat.gambar
        td
          img(src="/capturedphotos/"+dat.gambar)
      - })